/* .menu {
	padding: 5px;
	display: flex;
	flex-direction: column;
	border: 2px solid rgb(2, 0, 128);
	margin-right: 20px;
	float: left;
} */
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: Arial, Helvetica, sans-serif;
}

.header {
	background-color: rgb(207, 216, 200);
	border-radius: 5px;
	height: 60px;
}

.container {
	display: flex;
}

.navbar {
	background-color: #4b4b4bbd;
	height: 500px;
}

#sorted {
	margin-left: 5px;
	/* width: 24%; */
	/* align-items: center; */
}

.navbar-input input {
	margin-bottom: 5px;
	border-radius: 5px;
	border: 0px;
	width: 200px;
	height: 18px;
	padding: 2px;
}

p {
	margin: 4px;
	color: rgba(255, 248, 240, 0.705);
	font-size: 20px
}

h3 {
	font-size: 23px;
	color: rgb(29, 27, 23);
	margin: 14px
}

.page__wrapper {
	/* margin-top: 10px;
	display: flex; */
}

.page {
	padding: 10px;
	cursor: pointer;
}

.page__current {
	border: 2px solid orange;
	font-weight: bold;
}