.content {
	margin: auto;
	align-items: center;
}

.posts {
	width: 85%;
	height: 150px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.post {
	padding: 7px;
	background-color: rgba(237, 242, 243, 0.452);
	/* border: 1px solid rgba(15, 14, 14, 0.541); */
	border-radius: 10px;
	height: 150px;

}

#form {
	display: flex;
	height: 35px;
	tab-size: 10px;
	justify-content: space-between;
}

.post-price {
	background-color: rgba(110, 131, 72, 0.527);
	flex-direction: column;
	text-align: right;
	color: aliceblue;
}